.container {
    background: rgba(0, 0, 0, 0.5);
    padding: 30px;
    border-radius: 10px;
  }
  
  td {
    cursor: pointer;
  }
  
  .selected-cell {
    background-color: #0d6efd !important;
    color: white;
  }

  .modal {
    background-color: rgba(0, 0, 0, 0.6);
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1050;
  }