<div class="detall-container">
  <h2 class="titol">Dades en detall</h2>

  <div class="taula-scroll">
    <table>
      <tbody>
        <tr *ngFor="let row of data; let rowIndex = index">
          <td *ngFor="let cell of row; let colIndex = index"
              (click)="toggleSelection(rowIndex, colIndex)"
              [ngClass]="{ 'selected-cell': isSelected(rowIndex, colIndex) }">
            {{ cell }}
          </td>
        </tr>
      </tbody>
    </table>
  </div>

  <div class="botons">
    <button class="boto verd" (click)="enviarMissatges()">Enviar missatges</button>
    <a routerLink="/menu" class="boto blanc">Tornar al menú</a>
  </div>

  <!-- Modal -->
  <div class="modal" *ngIf="showModal">
    <div class="modal-content">
      <div class="modal-header">
        <h3>Números seleccionats</h3>
        <button class="tancar" (click)="tancarModal()">×</button>
      </div>
      <div class="modal-body">
        <ul>
          <li *ngFor="let tel of telefonsSeleccionats">
            {{ tel.nom }} -
            <a [href]="tel.link" target="_blank">{{ tel.numero }}</a>
          </li>
        </ul>
      </div>
      <div class="modal-footer">
        <button class="boto gris" (click)="tancarModal()">Tancar</button>
      </div>
    </div>
  </div>
</div>